<!DOCTYPE html>
<html>
	<head>
		<script src="external/jquery-3.3.1.min.js"></script>
		<script src="external/jquery-ui.min.js"></script>
		<script src="external/phaser.js"></script>
		<script src="external/phaser-matter-collision-plugin.min.js"></script>
		<script type="text/javascript" src="./app.js"> </script>
	</head>
	<body>
		<style type="text/css">
			body {
				background: #000000;
				padding: 0px;
				margin: 0px;
			}
		
			canvas {
				display: block;
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		</style>
	</body>
</html>